//============================
//    Name: Main page
//============================

$$buttonHref = tomato;
// === dont forget ===
// $$aqua  = #00aeac;
// $$black = #05151d;
// $$dark = #202e35;
// $$darkLite = #202e35;
// $$pink = #eb016e;
// $$turquoise = #12c8b2;
// $$turquoiseLite = #d5eeeb;
// $$grayLite = #f4f4f4;
// $$white = #ffffff;


__pageMaxWidth = (1440 - 140 * 2 - 0)px;
_pageShadow = 0px 1px 3px rgba(0, 0, 0, 0.1);

startpage {
	+__() {
		.section--background {
			background-color $$TurquoiseLite;
			background-position: 82% 25%
			background-size 50%;
			+media(991) {
				background-position: 30% 30px
				background-size: 380px;
			}
		}
		.box {
			display: grid;
			grid-auto-flow: row;		
			max-width __pageMaxWidth
			margin auto
			justify-content: stretch;
			align-items: start;
			padding 80px 0
			max-height 670px
			height 670px
			gap: 40px;
			grid-auto-rows: auto 1fr;
			+media(991) {
				grid-auto-rows: 1fr auto;
				align-items: end;
			}
			+media(525) {
				max-height 500px
				height 500px
				padding 40px 0
			}
		}
		.item {
			display: grid;
			align-items: center;
			justify-content: start;
		}
		.h1 {
			header1()
			color: $$Dark
			max-width 484px
			+media(425) {
				mobile1()
				letter-spacing unset
				max-width 212px
			}
		}
		.h1--style {
			font-weight 700
		}
		.button {
			text2();
			background-color $$Dark;
			color: #fff;
			padding 7px 18px;
			border 1px solid #0000
			radius: 2px;

			transition: .25s __cubic;
			hoverButton()
		}

	}
}

card {
	+__() {
		.section--background {
			background-color #f5f5f5;
			overflow unset
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			justify-content: stretch;
			align-items: stretch;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			grid: auto \/ repeat(auto-fit, minmax(350px, 1fr));
			gap: 40px;
			
			+media(425) {
				grid: unset
				grid-auto-flow: row;		
			}
		}
		.box--move {
			transform translateY(-190px);
			position: relative;
			height: 270px;
			z-index: 1;
			+media(1199) {
				padding: 8vh 0;
				transform unset
				height unset
			}
		}
		
		.svg {
			display: grid;

			fill: #0000;
			stroke: #000;
			stroke-width: 1.5px;
			
			color: $$Pink
			transition: .25s __cubic;		
		}

		.item {
			background-color #fff;
			padding 30px
			display: grid;
			grid-auto-flow: row;		
			justify-content: stretch;
			align-items: baseline;
			gap: 30px;
						
			grid-auto-rows: 2fr 1fr max-content;
			
			box-shadow: _pageShadow
			transition: .25s __cubic;
			
			+media(1199) {
				align-items start
				grid-auto-columns: 1fr 0 auto;
				grid-auto-rows: auto;
				& > :first-child {
					grid-column: 3
					grid-row: 1
				}
			}
			+media(991) {
				gap: 15px;
				padding 1rem
			}
			+media(425) {
				height 125px
				gap: 0;
				& > :first-child {
					width 70px
					height: 100%;
				}
			}
		}
		.svg--phone {
			glyph: $card-1$;
			+media(425) {
				width 48px !important
			}
		}
		.svg--controller {
			glyph: $card-2$;
		}
		.svg--antenna {
			glyph: $card-3$;
		}
		.svg-arrow {
			display: grid;
			width 14px
			height 14px
			opacity .2
			transition: .25s __cubic;
			
			+media(1199) {
				display none
			}
		}
		.rule {
			gap: 10px;
			max-height 80px
			overflow hidden
			+media(1199) {
				max-height 180px
			}
		}
		.title {
			header4()
			transition: .25s __cubic;
			+media(991) {
				text1()
			}
		}
		.desc {
			text2()
			color: #00000080;
			transition: .25s __cubic;
			+media(991) {
				text3()
				color: #00000080;
			}
			+media(425) {
				font-setup(fmain, 13, 400);
			}
		}
	}
}

.card__item:hover {
	background-color $$Pink
	
	& .card__svg {
		color: #fff;
		stroke: #fff;
	}
	& .card__title,	.card__desc {
		color: #fff;
	}
	& .card__svg-arrow {
		fill: #fff;
		opacity 1
	}
}

.card__item:active {
	background-color $$PinkActive
}


solution {
	+__() {
		.section--background {
			background-color #0000
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			padding-bottom 7vh
			gap: 40px;
		}
		.h2 {
			header2()
			+media(678) {
				mobile1()
			}
		}
		.title {
			display: grid;
			grid-auto-flow: column;		
			justify-content: space-between;
			align-items: end;
		}
		.subtitle {
			text3()
			text-transform uppercase
			font-weight 700
			
			transition: .25s __cubic;
			hoverText()
			+media(678) {
				display none
			}
		}
		
		.glide {
			display: grid;
			grid-auto-flow: row;
			grid-auto-columns: 1fr;
			gap: 30px;
			
			cursor: default;
		}
		.glide-panel {
			display: grid;
			justify-content: space-between;;
			align-items: center;
			grid-auto-flow: column;		
			
	
		}
		.glide-count {
			display: grid;
			justify-content: center;
			align-items: center;
			grid-auto-flow: column;
			gap: .3rem;	
			& span:first-child {
				color: $$Pink
			}
			
			// **HACK**
			margin-left 3px
		}
		.hack {
			margin-right: -1rem;
			cursor grab
		}
		.el {
			width: 97%;
			height: 220px;
			display: grid;
			justify-content: center;
			align-items: end;
			gap: 20px;
			background-color: #FFFFFF;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
			radius: 2px;
			
			grid-auto-rows: 90px max-content;
			
			// **HACK**
			margin 3px
			padding: 30px;
			
			border 1px solid #0000
			
			transition: .25s __cubic;
			&:hover {
				border 1px solid $$Pink
			}
			&:active {
				background-color $$Pink
			}
		}
		.el-item {
			display: grid;
			justify-content: center;
			align-items: center;
		}
		.el-svg {
			display: grid;
			width 3.5rem
			height 3.5rem

			fill: #0000;
			stroke: #000;
			stroke-width: 2px;

			color: $$Pink
			transition: .25s __cubic;	
		}
		.desc {
			text-align center
			text2()
			color: rgba(#000, 0.40);
			
			transition: .25s __cubic;
		}
		.arrow-all {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;		
			gap: 30px;
		}
		.arrow {
			cursor pointer
			width 14px
			height 14px
			display: grid;
			justify-content: center;
			align-items: center;
			
			transition: .25s __cubic;
			&:hover {
				fill: $$Pink
			}
			&:active {
				transform translateY(2px);
			}
		}

	}
}
.glyphs__solution-6 {
	glyph: $solution-6$;
	align-self: end;
}

.solution__el:hover {
	transition: .25s __cubic;
	_color_ = $$Pink
	
	& object {
		color: _color_;
		stroke: _color_;
	}
	& .solution__desc {
		color: _color_;
	}
}

.solution__el:active {
	_color_ = #fff;
	
	transition: .25s __cubic;
	& object {
		color: _color_;
		stroke: _color_;
	}
	& .solution__desc {
		color: _color_;
	}
}

project {
	+__() {
		.section--background {
			background-color $$Dark
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			gap: 60px;
			
			padding 8vh 0
			+media(575) {
				gap: 30px;
			}
		}
		.item {
			
		}
		.svg {
			display: grid;
			width 100%
			height 100%
			color: #798286
			pointer-events: none;
			
			transition: .25s __cubic;
		}
		.list {
			_size = 160px
			display: grid;
			grid-auto-flow: column;		
			justify-content: stretch;
			align-items: center;
			gap: 40px;
			
			grid: auto \/ repeat(auto-fit, minmax(_size - 5%, 1fr));		
			+media(575) {
				gap: 20px;
				grid: auto \/ repeat(auto-fit, minmax((_size / 2 - 5%)px, 1fr));	
			}
		}
		.list-item {
			_size = 160px
			display: grid;
			justify-content: center;
			align-items: center;
			width _size
			height 100px
			padding 26px 29px
			
			border 1px solid rgba(#fff, 0.10);
			
			transition: .25s __cubic;
			&:hover {
				border 1px solid $$Pink
				cursor pointer
				& object {
					color: $$Pink
				}
			}
			
			&:active {
				background-color $$Pink
				& object {
					color: #fff
				}
			}
			
			&[data-state='i-active'] {
				background-color $$Pink
				& object {
					color: #fff
				}
			}
			+media(575) {
				padding 1rem
				width (_size / 2)px
				height 50px
			}
		}
		.title {
			display: grid;
			grid-auto-flow: column;		
			justify-content: space-between;
			align-items: center;
		}
		.h2 {
			header2()
			color: #fff;
			+media(678) {
				mobile1()
			}
		}
		.h3 {
			header3()
			color: #fff;
			+media(575) {
				header4()
			}
		}
		.p {
			font-setup(fmain, 16, 400);
			line-height 25px
			color: rgba(#fff, 0.50);
			+media(575) {
				text3()
			}
		}
		.subtitle {
			text3()
			color: #fff;
			text-transform uppercase
			transition: .25s __cubic;
			hoverText()
			+media(678) {
				display none
			}
		}
		.grid {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: start;		
			grid-auto-columns: .88fr 1fr;
			gap: 100px;
			grid-auto-rows: 1fr;
			+media(1199) {
				grid-auto-flow: row;	
				grid-auto-columns: 1fr;
			}
			+media(575) {
				gap: 70px;
				grid-auto-rows: 1fr auto;
			}
		}
		.info {
			max-height: 182px;
			overflow: hidden;
			+media(575) {
				min-height: 150px;
			}
		}
		.info-item {
			display: none;
			gap: 20px;
			transform: translateX(20px);
			&[data-state='i-active'] {
				display: grid;
				animation movetext .45s forwards
			}
			+media(575) {
				gap: 10px;
			}
		}
	}
}

press {
	+__() {
		.section--background {
			background-color: #0000;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			
			gap: 40px;
			padding 8vh 0 7vh
		}
		.h2 {
			header2()
			+media(678) {
				mobile1()
			}
		}
		.subtitle {
			display none
		}
		.el {
			width: 97%;
			height: 280px;
			display: grid;
			justify-content: stretch;
			align-items: start;
			gap: 20px;
			background-color: #f4f4f4;

			grid-auto-rows: max-content 1fr;

			// **HACK**
			margin 3px
			padding: 30px;

			border 1px solid #0000

			transition: .25s __cubic;
			hoverButton()
		}
		.el-item {
			display: grid;
			justify-content: start;
			align-items: center;
		}
		.el-svg {
			display: grid;
			align-items: end;
			width 36px
			height 36px

			fill: #000;
			stroke: #0000;
			stroke-width: 2px;

			color: $$Pink
			transition: .25s __cubic;
		}
		.data {
			display: grid;
			grid-auto-flow: column;
			gap: 0.3rem;
			
			text2()
			color: #7a7a7a;
			
			transition: .25s __cubic;
		}
		.desc {
			text2()
			max-height: 7.1rem;
			overflow: hidden;
			
			transition: .25s __cubic;
		}
		
	}
}

.press__el:hover {
	.press__data,
	.press__desc {
		color: #fff;
	}
	.press__el-svg {
		fill: #fff;
	}
	.glyphs__press-3,
	.glyphs__press-2 {
		color: #fff
		fill: #fff;
	}
}

.glyphs__press-1 {
	width: 80px;
	height: 29px;
}
.glyphs__press-2 {
	color: #b2b2b2
}
.glyphs__press-3 {
	width: 100px;
	color: #000
	transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}


+key(movetext) {
	0% {
		opacity .25
	}
	100% {
		opacity 1
		transform: translateX(0);
	}
}

number {
	+__() {
		.section--background {
			background-color: $$GrayLite;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			
			gap: 20px;
			padding 8vh 0
		}
		.item {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;	
			
			gap: 10px;	
		}
		.h2 {
			header2()
			+media(678) {
				mobile1()
			}
		}
		.bignumber {
			header2()
			color: $$Pink
			font-weight 700
		}
		.desc {
			text2()
			color: rgba(#000, 0.7);
		}
		.grid {
			display: grid;
			grid-auto-flow: column;
			gap: 103px;		
			grid: auto \/ repeat(auto-fit, minmax(300px, 1fr));		
		}
	}
}

news {
	+__() {
		.section--background {
			background-color: #0000;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			
			padding 8vh 0
			gap: 35px;
		}
		.title {
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
			align-items: end;		
		}
		.h2 {
			header2()
			+media(678) {
				mobile1()
			}
		}
		.subtitle {
			text3()
			font-weight 700
			text-transform uppercase
			hoverText()
			+media(1199) {
				display none
			}
		}
		.grid {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: stretch;
			gap: 40px;
			grid-auto-columns: 2fr 1fr 1fr
		}
		.grid--clone {
			+media(1199) {
				display none
			}
		}
		.grid--slider {
			display none
			gap: 25px;
			+media(1199) {
				display: grid;
			}
		}
		.item {
			display: grid;
			align-items: stretch;
			justify-content: stretch;
		}
		.el--background {
			position absolute
			width 100%
			height 100%
			z-index 1
			
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
		}
		.el {
			display: grid;
			justify-content: stretch;
			align-items: baseline;
			padding 30px
			background-color #fff;
			border 1px solid rgba(#000, 0.10);
			
			height 280px
			
			grid-auto-flow: row;
			grid-auto-rows: max-content 1fr;
			gap: 10px;
			
			overflow hidden
			position relative
			transition: .25s __cubic;
			&:before {
				content: '';
				display: grid;
				width: 100%;
				height: 100%;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: $$Pink;
				position: absolute;
				bottom 0
				left 0
				transform: translateY(calc(100% - 4px));
				transition: .25s __cubic;
				z-index 2
			}
		}
		.el-item {
			display: grid;
			justify-content start
			position relative
			z-index 3
		}
		.data {
			display: grid;
			grid-auto-flow: column;
			gap: 0.3rem;

			text2()
			color: #7a7a7a;

			transition: .25s __cubic;
		}
		.desc {
			text2()
			max-height: 7.1rem;
			overflow: hidden;

			transition: .25s __cubic;
		}
		.button {
			display: grid;
			justify-content: center;
			align-items: center;
			text2();
			color: $$Pink;
			padding 7px 18px;
			border 1px solid $$Pink
			radius: 2px;

			transition: .25s __cubic;
			hoverButton()
		}
	}
}

.news__el:hover {
	& object {
		fill: #fff;
		opacity 1
	}
	& .news__desc,
		.news__data {
		color: #fff !important
	}
	&.news__el::before {
		transform translateY(0);
	}
}
.news__el:active {
	&.news__el::before {
		background-color $$PinkActive
	}
}

.news__unique .news__el-item {
	& .news__data {
		color: rgba(#fff, 0.40);
	}
	& .news__desc {
		color: #fff;
	}
}

answer {
	+__() {
		.section--background {
			background-color: $$Dark;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			
			padding 8vh 0;
			
			grid-auto-columns: 1fr;
			gap: 1rem;
		}
		
	}
}


// === dont forget ===
// $$Aqua  = #00aeac;
// $$Black = #05151d;
// $$Dark = #202e35;
// $$DarkLite = #202e35;
// $$Pink = #eb016e;
// $$Turquoise = #12c8b2;
// $$TurquoiseLite = #d5eeeb;
// $$GrayLite = #f4f4f4;
// $$White = #ffffff;