//============================
//    	Name: COLORS
//============================
$$aqua  = #00aeac;
$$Black = #05151d;
$$Dark = #202e35;
$$DarkLite = #202e35;
$$Pink = #eb016e;
$$PinkActive = #b00152;
$$Turquoise = #12c8b2;
$$TurquoiseLite = #d5eeeb;
$$GrayLite = #f4f4f4;
$$White = #ffffff;
/* ==== ----- ==== */ 

// Mobile-header-setup
mobile1() {
	font-setup(fmain, 26, 400);
	line-height 30px;
}

// header-setup
header1() {
	font-setup(fmain, 60, 400);
	line-height 60px;
	letter-spacing -2px;
}
header2() {
	font-setup(fmain, 40, 400);
	line-height 50px;
	letter-spacing -1px;
}
header3() {
	font-setup(fmain, 30, 400);
	line-height 40px;
	letter-spacing -1px;
}
header4() {
	font-setup(fmain, 20, 400);
	line-height 30px;
}


// text-setup
text1() {
	font-setup(fmain, 18, 400);
	line-height 26px;
}
text2() {
	font-setup(fmain, 16, 400);
	line-height 24px;
}
text3() {
	font-setup(fmain, 14, 400);
	line-height 20px;
}

hoverText() {
	&:hover {
		color: $$Pink;
	}
	&:active {
		color: $$header-text-active;
	}
}

hoverButton() {
	&:hover {
		color: #fff;
		background-color $$Pink;
	}
	&:active {
		color: #fff;
		background-color $$PinkActive;
	}
}

hoverText() {
	&:hover {
		color: $$Pink;
	}
	&:active {
		color: $$PinkActive;
	}
}

svg .svg-recolor {
	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0px;
}