modal {
	+__() {
		.section {
			display none
			position fixed
			width 100%
			height 100%
			left 0
			top 0
			z-index 1023		
			
			background-color rgba(#000, 0.75);
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: center;
			
			background-color #fff
			width: 760px;
			height: 460px;
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
			padding 6vh
			grid-auto-rows: max-content
			gap: 6vh;
		}
		.title {
			display: grid;
			grid-auto-flow: column;		
			justify-content: space-between;
			align-items: start;
		}
		.h2 {
			header2()
		}
		.close {
			_sizeCross = 1rem
			display: grid;
			justify-content: stretch;
			align-items: stretch;
			width: _sizeCross;
			height: _sizeCross;
			position relative
			cursor pointer
			transition: .25s __cubic;
			&:active {
				&::before {
					background-color darken(#dddddd80, 14%)
				}
			}
			&:hover {
				&::before {
					transition: .25s __cubic;
					transform: translate(50%, -50%) scale(1);
				}
			}
			&:before {
				content: '';
				display: grid;
				width: _sizeCross * 2;
				height: _sizeCross * 2;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: #dddddd80;
				position: absolute;
				right: 50%;
				top: 50%;
				transform: translate(50%, -50%) scale(0);
				radius: 100%;
				z-index 1
			}
		}
		.close-line {
			background-color: #000;
			font-size 0
			width: 100%;
			height: 1px;
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 0;
			transition: .25s __cubic;
			&:first-child {
				transform: translateY(-50%) rotate(45deg);
			}
			&:last-child {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
}

.modal__close:hover {
	span {
		background-color $$Pink
	}
}
.modal__close:active {
	span {
		background-color $$PinkActive
	}
}