<div class="space-1"></div>
<div class="space-1"></div>

<div class="modal__section">
	<div class="modal__box">
		<div class="modal__group modal__title">
			<h2 class="modal__item modal__h2">Заявка</h2>
			<div class="modal__item modal__close"><span class="modal__close-line">&nbsp;</span><span class="modal__close-line">&nbsp;</span></div>
		</div>
		<div class="modal__group js__cloneForm">
			<div class="modal__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
	</div>
</div>



<div class="space-1"></div>
<div class="space-1"></div>