<div class="myheader__topfixer js__headerObsResize"></div>
<div role="navigation" class="myheader__section myheader__section--background myheader__section--fixed">
	<nav class="myheader__box myheader__relative js__headerObs">

		<div class="myheader__group myheader__navigat ">
			<a class="myheader__brand" title="URL" role="link" href="#">outSource<span class="myheader__brand--color">/wi-fi</span></a>
			<div class="myheader__list js__headerText">
				<a class="myheader__list-item" title="URL" role="link" href="#">О компании</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Проекты</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Новости</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Контакты</a>
			</div>
			<div class="myheader__extra">
				<a class="myheader__menu myheader__mobile" title="URL" role="link" href="#">
					<object class="myheader__phone-mobile"><svg role="picture-svg" class="glyphs__smallphone"><use xlink:href="#id-glyphs-smallphone"></use></svg></object>
				</a>

				<div class="myheader__burger">
					<div class="myheader__menu js__navHamburger">
						<span class="myheader__menu-line">&nbsp;</span>
						<span class="myheader__menu-line">&nbsp;</span>
						<span class="myheader__menu-line">&nbsp;</span>
					</div>
				</div>

			</div>
		</div>
		<div class="myheader__group myheader__hr">&nbsp;</div>
		<div class="myheader__group myheader__second-navigat">
			<div class="myheader__second js__headerText">
				<a class="myheader__second-item" title="URL" role="link" href="#">Продукты</a>
				<a class="myheader__second-item" title="URL" role="link" href="#">Услуги</a>
				<a class="myheader__second-item" title="URL" role="link" href="#">Отраслевые решения</a>
				<a class="myheader__second-item" title="URL" role="link" href="#">Программное обеспечение</a>
			</div>
			<div class="myheader__address">
				<a class="myheader__address-item myheader__phone" title="URL" role="link" href="tel:+74957480115">+7 (495) 748-01-15</a>
				<a class="myheader__address-item myheader__callbutton" title="URL" role="link" href="#">Оставить заявку</a>
			</div>

		</div>
	</nav>
	
	<nav class="myheader__group myheader__relative myheader__showmenu js__navHamburgerOpener">
		<div class="myheader__item myheader__clone myheader__clone--bg">
			<!-- js -->
		</div>
		<div class="myheader__item myheader__info">
			<div class="myheader__info-item myheader__info-address">
				<p class="myheader__info-text">Москва, Волоколамское шоссе 10, <span>офис 22</span></p>
				<a class="myheader__info-map" title="URL" role="link" href="#">Смотреть на карте</a>
			</div>
			<div class="myheader__info-item myheader__info-hr">&nbsp;</div>
			<div class="myheader__info-item myheader__info-box">
				<a class="myheader__address-item myheader__info-phone" title="URL" role="link"
					href="tel:+74957480115">+7 (495) 748-01-15</a>
				<a class="myheader__address-item myheader__info-email" target="_blank" title="URL" role="link"
					href="mailto:wi-fi@outsource.ru">wi-fi@outsource.ru</a>
				<a class="myheader__address-item myheader__info-facebook" target="_blank" title="URL" role="link"
					href="//facebook.com">facebook</a>
			</div>
		</div>
	</nav>
</div>
