<section class="startpage__section startpage__section--background" style="background-image: url(./media/img/big-logo.png);">
	<div class="startpage__box">
		<div class="startpage__item">
			<h1 class="startpage__h1">Беспроводные решения <span class="startpage__h1--style">с пожизненной гарантией</span></h1>
		</div>
		<div class="startpage__item">
			<a class="startpage__button" title="URL" role="link" href="#">Оставить заявку</a>
		</div>

	</div>
</section>

<section class="card__section card__section--background">

	<div class="card card__box card__box--move">
		<a class="card__item" title="URL" role="link" href="#">
			<object class="card__svg card__svg--phone"><svg role="picture-svg" class="glyphs__card-1">
					<use xlink:href="#id-glyphs-card-1"></use></svg>
			</object>
			<div class="card__group card__rule">
				<h4 class="card__title">Точки доступа</h4>
				<p class="card__desc">Беспроводные решения для улиц и помещений</p>
			</div>
			<object class="card__svg-arrow"><svg role="picture-svg" class="glyphs__arrow-right">
					<use xlink:href="#id-glyphs-arrow-right"></use></svg>
			</object>
		</a>

		<a class="card__item" title="URL" role="link" href="#">
			<object class="card__svg card__svg--controller"><svg role="picture-svg" class="glyphs__card-2">
				<use xlink:href="#id-glyphs-card-2"></use></svg>
			</object>
			<div class="card__group card__rule">
				<h4 class="card__title">Контроллеры и коммутаторы</h4>
				<p class="card__desc">Оборудование и ПО технологии</p>
			</div>
			<object class="card__svg-arrow"><svg role="picture-svg" class="glyphs__arrow-right">
				<use xlink:href="#id-glyphs-arrow-right"></use></svg>
			</object>
		</a>

		<a class="card__item" title="URL" role="link" href="#">
			<object class="card__svg card__svg--antenna"><svg role="picture-svg" class="glyphs__card-3">
				<use xlink:href="#id-glyphs-card-3"></use></svg>
			</object>
			<div class="card__group card__rule">
				<h4 class="card__title">Антенны</h4>
				<p class="card__desc">Оборудование и ПО технологии</p>
			</div>
			<object class="card__svg-arrow"><svg role="picture-svg" class="glyphs__arrow-right">
				<use xlink:href="#id-glyphs-arrow-right"></use></svg>
			</object>
		</a>

	</div>

	<div class="solution solution__box js__solutionControl">
		<div class="solution__group solution__title">
			<h2 class="solution__h2">Отраслевые решения</h2>
			<a class="solution__subtitle" title="URL" role="link" href="#">все отрасли</a>
		</div>
		<div class="solution__group">

			<div class="DELETE">
				<ul class="solution__get-svg-param js__getList">
					<li data-url="#" data-svgname="solution-1">Медицина</li>
					<li data-url="#test" data-svgname="solution-2">Образование</li>
					<li data-url="#" data-svgname="solution-3">Мероприятия</li>
					<li data-url="#" data-svgname="solution-4">Стадионы и парки</li>
					<li data-url="#" data-svgname="solution-5">Бизнес центры</li>
					<li data-url="#" data-svgname="solution-6">Рестораны и кафе</li>
					<li data-url="#" data-svgname="solution-0">Производство</li>

					<li data-url="#test2" data-svgname="solution-1">Медицина</li>
					<li data-url="#" data-svgname="solution-0">Производство</li>
					<li data-url="#" data-svgname="solution-1">Медицина</li>
					<li data-url="#" data-svgname="solution-0">Производство</li>
					<li data-url="#" data-svgname="solution-1">Медицина</li>
					<li data-url="#" data-svgname="solution-0">Производство</li>
				</ul>
			</div>

			<div class="js__sliderEnable solution__glide">
				<div class="glide__track solution__hack" data-glide-el="track">
					<div class="glide__slides js__pasteList">
						<!-- js -->
					</div>
				</div>

				<div class="solution__group solution__glide-panel">
					<div class="solution__glide-count">
						<span class="js__activeElem">0</span>
						<span>/</span>
						<span class="js__totalElem">0</span>
					</div>

					<div class="solution__arrow-all" data-glide-el="controls">

						<object class="solution__arrow" data-glide-dir="<">
							<svg role="picture-svg" class="glyphs__slider-arrow-left">
								<use xlink:href="#id-glyphs-slider-arrow-left"></use>
							</svg></object>


						<object class="solution__arrow" data-glide-dir=">">
							<svg role="picture-svg" class="glyphs__slider-arrow-right">
								<use xlink:href="#id-glyphs-slider-arrow-right"></use>
							</svg>
						</object>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="project__section project__section--background">
	<div class="project project__box">
		<div class="project__group project__title">
			<h2 class="project__h2">Наши ключевые проекты</h2>
			<a class="project__subtitle" title="URL" role="link" href="#">все проекты</a>
		</div>
		<div class="project__group project__grid">

			<div class="project__item project__info js__projectTabsInfo">

				<div class="project__info-item">
					<h3 class="project__h3">Heiniken</h3>
					<p class="project__p">Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.</p>
					<p class="project__p">Поставка оборудования и разработка портала идентификации пользователей.</p>
				</div>

				<div class="project__info-item">
					<h3 class="project__h3">Leroy</h3>
					<p class="project__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<div class="project__info-item">
					<h3 class="project__h3">ПЭК</h3>
					<p class="project__p">Lorem ipsum dol </p>
				</div>

				<div class="project__info-item">
					<h3 class="project__h3">correas</h3>
					<p class="project__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<div class="project__info-item">
					<h3 class="project__h3">Yandex</h3>
					<p class="project__p">Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.</p>
					<p class="project__p">Поставка оборудования и разработка портала идентификации пользователей.</p>
				</div>

				<div class="project__info-item">
					<h3 class="project__h3">МИЦ</h3>
					<p class="project__p">Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.</p>
					<p class="project__p">Поставка оборудования и разработка портала идентификации пользователей.</p>
				</div>
			</div>


			<div class="project__item project__list js__projectTabs">


				<div class="project__list-item">
					<object class="project__svg">
						<svg role="picture-svg" class="glyphs__project-4">
							<use xlink:href="#id-glyphs-project-4"></use>
						</svg></object>
				</div>
				<div class="project__list-item">
					<object class="project__svg">
						<svg role="picture-svg" class="glyphs__project-5">
							<use xlink:href="#id-glyphs-project-5"></use>
						</svg></object>
				</div>
				<div class="project__list-item">
					<object class="project__svg">
						<svg role="picture-svg" class="glyphs__project-2">
							<use xlink:href="#id-glyphs-project-2"></use>
						</svg></object>
				</div>

				<div class="project__list-item">
					<object class="project__svg">
						<svg role="picture-svg" class="glyphs__project-0">
							<use xlink:href="#id-glyphs-project-0"></use>
						</svg></object>
				</div>
				<div class="project__list-item">
					<object class="project__svg">
						<svg role="picture-svg" class="glyphs__project-1">
							<use xlink:href="#id-glyphs-project-1"></use>
						</svg></object>
				</div>
				<div class="project__list-item">
					<object class="project__svg">
						<svg role="picture-svg" class="glyphs__project-3">
							<use xlink:href="#id-glyphs-project-3"></use>
						</svg></object>
				</div>



			</div>
		</div>
	</div>
</section>

<section class="press__section press__section--background">
	<div class="press press__box js__pressControl">
		<div class="press__group press__title">
			<h2 class="press__h2">Пресса о нас</h2>
			<a class="press__subtitle" title="URL" role="link" href="#">все проекты</a>
		</div>
		<div class="press__group">

			<div class="DELETE">
				<ul class="press__get-svg-param js__getList">
					<li data-url="#" data-svgname="press-0" data-post="03/05/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>
					<li data-url="#" data-svgname="press-1" data-post="12/06/2018">
						outSource/wi-fi стал Золотым партнёром американской компании </li>
					<li data-url="#" data-svgname="press-2" data-post="14/06/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>
					<li data-url="#" data-svgname="press-3" data-post="09/07/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>

					<li data-url="#test2" data-svgname="press-1" data-post="03/05/2018">
						outSource/wi-fi стал Золотым партнёром американской компании </li>
					<li data-url="#" data-svgname="press-0" data-post="11/05/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>
					<li data-url="#" data-svgname="press-1" data-post="15/05/2018">
						outSource/wi-fi стал Золотым партнёром американской компании </li>
					<li data-url="#" data-svgname="press-0" data-post="16/05/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>
					<li data-url="#" data-svgname="press-1" data-post="03/05/2018">
						outSource/wi-fi стал Золотым партнёром американской компании </li>
				</ul>
			</div>

			<div class="js__sliderEnable solution__glide">
				<div class="glide__track solution__hack" data-glide-el="track">
					<div class="glide__slides js__pasteList">
						<!-- js -->
					</div>
				</div>

				<div class="solution__group solution__glide-panel">
					<div class="solution__glide-count">
						<span class="js__activeElem">0</span>
						<span>/</span>
						<span class="js__totalElem">0</span>
					</div>

					<div class="solution__arrow-all" data-glide-el="controls">

						<object class="solution__arrow" data-glide-dir="<">
							<svg role="picture-svg" class="glyphs__slider-arrow-left">
								<use xlink:href="#id-glyphs-slider-arrow-left"></use>
							</svg></object>


						<object class="solution__arrow" data-glide-dir=">">
							<svg role="picture-svg" class="glyphs__slider-arrow-right">
								<use xlink:href="#id-glyphs-slider-arrow-right"></use>
							</svg>
						</object>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="number__section number__section--background">
	<div class="number number__box">
		<div class="number__group">
			<h2 class="number__h2">outSource/wi-fi — это</h2>
		</div>
		<div class="number__group number__grid">
			<div class="number__item">
				<div class="number__bignumber">0,01%</div>
				<p class="number__desc">Вероятность выхода из строя оборудования в течение 10 лет</p>
			</div>
			<div class="number__item">
				<div class="number__bignumber">100%</div>
				<p class="number__desc">Сервисные контракты со 100% покрытием негарантийных случаев</p>
			</div>
			<div class="number__item">
				<div class="number__bignumber">900</div>
				<p class="number__desc">Успешно реализованных проектов, ключевое достоинство outSource/wi-fi</p>
			</div>
		</div>
	</div>
</section>

<section class="news__section">
	<div class="news news__box js__newsControl">
		<div class="news__group news__title">
			<h2 class="news__h2">Новости</h2>
			<a class="news__subtitle" title="URL" role="link" href="#">все новости</a>
		</div>
		<div class="DELETE js__getBackground" data-background='./media/img/news-bg.png'></div>
		<!-- CLONE -->
		<div class="news__group news__grid news__grid--clone">
			<div class="news__item">
				<a class="news__el news__unique" title="URL" role="link" href="#">
					<div class="news__el--background" style="background-image: url('./media/img/news-bg.png');"></div>
					<div class="news__el-item">
						<p class="news__data">03/05/2018</p>
					</div>
					<div class="news__el-item">
						<p class="news__desc">Бесплатным Wi-Fi можно будет воспользоваться за пределами садового кольца</p>
					</div>
					<div class="news__el-item">
						<object class="card__svg-arrow">
							<svg role="picture-svg" class="glyphs__arrow-right">
								<use xlink:href="#id-glyphs-arrow-right"></use></svg>
							</object>
						</div>
					</a>
			</div>
			<div class="news__item">
				<a class="news__el" title="URL" role="link" href="#">
						<div class="news__el-item">
							<p class="news__data">03/05/2018</p>
						</div>
						<div class="news__el-item">
							<p class="news__desc">Бесплатным Wi-Fi можно будет воспользоваться за пределами садового кольца</p>
						</div>
						<div class="news__el-item">
							<object class="card__svg-arrow">
								<svg role="picture-svg" class="glyphs__arrow-right">
									<use xlink:href="#id-glyphs-arrow-right"></use></svg>
								</object>
							</div>
						</a>
			</div>
			<div class="news__item">
				<a class="news__el" title="URL" role="link" href="#">
							<div class="news__el-item">
								<p class="news__data">03/05/2018</p>
							</div>
							<div class="news__el-item">
								<p class="news__desc">Бесплатным Wi-Fi можно будет воспользоваться за пределами садового кольца</p>
							</div>
							<div class="news__el-item">
								<object class="card__svg-arrow">
									<svg role="picture-svg" class="glyphs__arrow-right">
										<use xlink:href="#id-glyphs-arrow-right"></use></svg>
									</object>
								</div>
							</a>
			</div>
		</div>
		<!-- end CLONE -->


		<div class="news__group news__grid--slider">
			<div class="DELETE">
				<ul class="press__get-svg-param js__getList">
					<li data-url="#" data-post="29/11/2018">outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>
					<li data-url="#" data-post="03/05/2019">Бесплатным Wi-Fi можно будет воспользоваться за пределами садового кольца</li>
					<li data-url="#" data-post="14/06/2020">В Москве в чаще используют Wi-Fi, чем в Нью-Йорке</li>
					<li data-url="#" data-post="09/07/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>

					<li data-url="#test2" data-post="03/05/2018">
						outSource/wi-fi стал Золотым партнёром американской компании </li>
					<li data-url="#" data-post="11/05/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>
					<li data-url="#" data-post="15/05/2018">
						outSource/wi-fi стал Золотым партнёром американской компании </li>
					<li data-url="#" data-post="16/05/2018">
						outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ</li>
					<li data-url="#" data-post="03/05/2018">
						outSource/wi-fi стал Золотым партнёром американской компании </li>
				</ul>
			</div>

			<div class="solution__glide js__sliderEnable">
				<div class="glide__track solution__hack" data-glide-el="track">
					<div class="glide__slides js__pasteList">
						<!-- js -->
					</div>
				</div>

				<div class="solution__group solution__glide-panel">
					<div class="solution__glide-count">
						<span class="js__activeElem">0</span><span>/</span><span class="js__totalElem">0</span>
					</div>

					<div class="solution__arrow-all" data-glide-el="controls">
						<object class="solution__arrow" data-glide-dir="<">
							<svg role="picture-svg" class="glyphs__slider-arrow-left">
								<use xlink:href="#id-glyphs-slider-arrow-left"></use>
							</svg></object>
						<object class="solution__arrow" data-glide-dir=">">
							<svg role="picture-svg" class="glyphs__slider-arrow-right">
								<use xlink:href="#id-glyphs-slider-arrow-right"></use>
							</svg>
						</object>
					</div>
				</div>
			</div>

			<a class="news__button" title="URL" role="link" href="#">Все новости</a>

		</div>


	</div>
</section>

<section class="answer__section answer__section--background">
	<div class="answer answer__box">
		<div class="answer__face">
			<div class="answer__group">
				<div class="answer__item">Ответим на ваши вопросы</div>
				<div class="answer__item">Каждый день мы меняем мир к лучшему, присоединяйтесь</div>
			</div>
			<div class="answer__group">
				<form id="answer" class="answer__form" action="#" method="POST" enctype="ultipart/form-data" autocomplete="off" onsubmit="return false;">

					<div class="answer__form-group">
						<div class="answer__form-item">
							<label for="answer__name">Имя</label>
							<input id="answer__name" type="text" name="text">
						</div>
						<div class="answer__form-item">
							<label for="answer__phone">Phone</label>
							<input id="answer__phone" type="tel" name="tel" data-phone="true" 
							data-pattern="(\d{1})(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})" maxlength="18">
						</div>
					</div>
					
					<div class="answer__form-group">
						<div class="answer__form-item">
							<label for="answer__text">Имя</label>
							<input id="answer__text" type="text" name="text">
						</div>
					</div>
					<div class="answer__form-group">
						<div class="answer__form-item">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</div>
							<div class="answer__form-item">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</div>
							<button class="answer__button" form="answer" title="button" role="button">Отправить</button>
					</div>
					
					
				</form>
			</div>
		</div>
		<div class="answer__backface">
			<div class="answer__item">Заявка отправлена!</div>
			<div class="answer__item">Мы скоро свяжемся с вами</div>
		</div>
	</div>
</section>

<div role="device width" class="__device__">&nbsp;</div>
